@model IEnumerable<FAQ.Models.FAQEntry>

@{
    ViewBag.Title = "Index";
}

<h2>FAQ</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<ul>
@foreach (var item in Model) {
    <li>
        @Html.ActionLink(Html.DisplayFor(modelItem => item.Question).ToHtmlString(), "Details", new { id = item.FAQEntryId }) |
        @Html.ActionLink("Edit", "Edit", new { id=item.FAQEntryId }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.FAQEntryId })

    </li>    
}
</ul>